# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

on:
  - pull_request
  - push

name: CI

jobs:
  coding-guidelines:
    name: Coding Guidelines

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run friendsofphp/php-cs-fixer
        run: ./tools/php-cs-fixer fix --dry-run --show-progress=dots --using-cache=no --verbose

  type-checker:
    name: Type Checker

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Update dependencies with composer
        run: ./tools/composer update --no-ansi --no-interaction --no-progress

      - name: Run vimeo/psalm
        run: ./tools/psalm --config=.psalm/config.xml --no-progress --shepherd --show-info=false --stats

  tests:
    name: Tests

    runs-on: ubuntu-latest

    strategy:
      matrix:
        fail-fast: true
        php-version: [7.3, 7.4, 8.0, 8.1, 8.2]
        sebastian_version: [2.*, 3.*, 4.*]
#        include:
#          - php: 7.3
#            sebastian_version: 2.*
#        exclude:
#          - php: 8.2
#            sebastian_version: 2.*
#          - php: 8.2
#            sebastian_version: 3.*
#          - php: 8.1
#            sebastian_version: 2.*
#          - php: 8.1
#            sebastian_version: 3.*
#          - php: 8.0
#            sebastian_version: 4.*
#          - php: 7.4
#            sebastian_version: 4.*
#          - php: 7.3
#            sebastian_version: 4.*

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install PHP with extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov

      - name: Cache dependencies installed with composer
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache
          key: php${{ matrix.php-version }}-composer-${{ matrix.dependencies }}-${{ hashFiles('**/composer.json') }}
          restore-keys: php${{ matrix.php-version }}-composer-${{ matrix.dependencies }}-

      - name: Install dependencies with composer
        run: |
          ./tools/composer require sebastian/version:${{ matrix.version }} --no-interaction --no-update
          ./tools/composer update --no-ansi --no-interaction --no-progress

      - name: Run tests with phpunit/phpunit
        run: ./tools/phpunit --coverage-text --coverage-clover=coverage.xml
